node_modules/
build/
dist/
artifacts/
*.tsbuildinfo

# Large model weights
*.gguf
__pycache__/

# AI
.opencode
.claude
.agent

# Enviroment Variables
.env

# Python build detritus / virtualenv
*.egg-info/
.venv/
build_work/
